$bgcolor: rgb(45, 45, 45);
$color-understated: rgb(159, 166, 173);
$color-bright: #fff;
$color-standout: orange;
$header-height: 2rem;
$large-text: 1rem;
$medium-text: 0.875rem;
$small-text: 0.675rem;
$tiny-text: 0.5rem;
